@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 200;
  /* Extra Light */
  src: url('../public/assets/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
    url('../public/assets/fonts/ClashDisplay-Extralight.woff') format('woff');
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 300;
  /* Light */
  src: url('../public/assets/fonts/ClashDisplay-Light.woff2') format('woff2'),
    url('../public/assets/fonts/ClashDisplay-Light.woff') format('woff');
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 500;
  /* Medium */
  src: url('../public/assets/fonts/ClashDisplay-Medium.woff2') format('woff2'),
    url('../public/assets/fonts/ClashDisplay-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 600;
  /* SemiBold */
  src: url('../public/assets/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
    url('../public/assets/fonts/ClashDisplay-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 700;
  /* Bold */
  src: url('../public/assets/fonts/ClashDisplay-Bold.woff2') format('woff2'),
    url('../public/assets/fonts/ClashDisplay-Bold.woff') format('woff');
}


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-primary: 'Clash Display', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --darkGreen:#062817;
  --veryDarkGreen: #060A08;
  --connectedGreen: #1f3029;
  --lightGreen: #64E18E;
  --veryDarkRed: #3F1717;
  --darkRed: #950606;
  --lightRed: #FF0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--font-primary);
  font-weight: 400;
  background-color: black;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}